language: cpp
os:
  - osx
env:
  - BUILD_ARTIFACTS=boost
  - BUILD_ARTIFACTS=openscenegraph
  - BUILD_ARTIFACTS="bullet ffmpeg mygui SDL2 unshield"
osx_image: xcode9.2
branches:
  only:
    - master
    - /openmw-deps-mac-*.$/
before_install:
  - brew update
  - brew outdated cmake || brew upgrade cmake
  - brew outdated pkgconfig || brew upgrade pkgconfig
  - brew install yasm
before_script:
  - mkdir build
  - cd build
  - sandbox-exec -f ../sandbox.sb cmake -DCMAKE_BUILD_TYPE=Release ..
script:
  - sandbox-exec -f ../sandbox.sb make -j6 $BUILD_ARTIFACTS
notifications:
  email:
    recipients:
      - corrmage+travis-ci@gmail.com
    on_success: change
    on_failure: always
